.col-sm-8 {

    p,
    h3 {
        text-align: left
    }
}

input[type="radio"] {
    display: none;
}

label {
    color: grey;
    font-size: 30px;
}

.rating {
    direction: rtl;
    unicode-bidi: bidi-override;
}

label:hover,
label:hover~label {
    color: orange;
}

input[type="radio"]:checked~label {
    color: orange;
}

img.pictureBook {
    float: left;
    width: 100%;
}

.content-list-book {
    height: 100%;
    width: 100%;
    background-repeat: repeat;
    background-size: auto;
    background-size: 100%;
    float: left;
    background-repeat: no-repeat;
    background-position-y: -200px;
    overflow: hidden;
}

textarea.form-control {
    border-radius: 0;
}