<ng-container *ngIf="(comments$ | async) as commentData">
    <h3 *ngIf="commentData.length > 0">Comments</h3>
    <ul>
        <li class="item" *ngFor="let comment of (comments$ | async) as commentData">
            <div class="s1" *ngIf="comment.img">
                <img width="30px" src="/assets/{{ comment.img }}.png">
            </div>
            <div class="s2">
                <h3>{{comment.student}}</h3>
                <p>{{comment.comment}}</p>
            </div>
        </li>
    </ul>
</ng-container>