<div class="position-relative overflow-hidden text-center">
    <div [ngClass]="'cover'+randomCover">
        <div class="cover-sub">
            <div class="highlighted mt-n5 pt-5 pb-4 mb-4">
                <h1 class="font-white mt-5 pt-5">Virtual library for classroom</h1>
                <p class="font-white mb-5">
                    With this platform you will be able to see what books are available to read, reserve them, comment
                    on them and rate them. This way you will be able to know what those who have already read it think
                    and share your opinion... let the reading begin!
                </p>
            </div>
        </div>
    </div>
    <div class="sliderContent row-with-x-columns">
        <h2 class="float-left w-100 text-left" id="booksEncontrados">
            <ng-container *ngIf="(subscActiveSearch | async) && (bookList$ | async)?.length">
                Books founded with the keywords: '{{ subscActiveSearch | async }}'
            </ng-container>
            <ng-container *ngIf="activeSearchBook && !(bookList$ | async)?.length">
                No results for search with keywords: '{{ subscActiveSearch | async }}'
            </ng-container>
        </h2>
        <div class="wrapper-books">
            <ng-container *ngFor="let book of (bookList$ | async)">
                <div [routerLink]="[book.url]" routerLinkActive="router-link-active" class="slider-item">
                    <div class="img-wrapper">
                        <img [src]="book.picture" alt="{{book.title}}" />
                        <p *ngIf="book.hasit" class="available">
                            Rented
                        </p>
                    </div>
                    <div class="py-2">
                        <app-stars-rating [rating]="book.average??0"></app-stars-rating>
                    </div>
                    <p class="w-100 float-left font-weight-bold" class="bookTitle">
                        {{ book.title }}
                    </p>
                </div>
            </ng-container>
        </div>
    </div>
</div>