h3 {
    cursor: pointer;
}

.slider {
    position: relative;
    margin: 0;
    padding: 0 4%;
}


.slider .sliderMask.showPeek {
    overflow-x: visible;
}

.slider .sliderMask .sliderContent .slider-item {
    z-index: 1;
    display: inline-block;
    position: relative;
    white-space: normal;
    vertical-align: top;
}

.lockup {
    position: relative;
}

.cover-container {
    width: 100%;
}

.portada1 {
    background: url(https://firebasestorage.googleapis.com/v0/b/bookflix-4230d.appspot.com/o/portada.png?alt=media&token=e752e171-a069-4816-a557-2c043b5acfdb) no-repeat;
    background-size: cover;
    background-position-y: center;
}

.portada1-sub {
    background-size: cover;
    background-position-y: 0px;
    background-image: linear-gradient(180deg, rgba(20, 20, 20, 1) 10%, transparent);
}

.destacado {
    width: 350px;
    text-align: left;
    margin-left: 60px;
    margin-right: 60px;
}

.destacado p {
    line-height: 18px;
    font-size: 18px;
}

.destacado a {
    opacity: 0.8;
    float: left;
}

.destacado .white {
    color: #fff;
}

.destacado .black {
    color: #000;
}

#librosEncontrados {
    margin-top: -65px;
}

@media (max-width: 768px) {
    #librosEncontrados {
        font-size: 18px;
    }
}

@media only screen and (min-width: 100px) and (max-width: 400px) {
    .profile-gate-label {
        font-size: 36px;
        margin: 30px 0 30px;
    }
}

@media only screen and (min-width: 100px) and (max-width: 900px) {
    .choose-profile {
        margin: 0;
    }

    .inner {
        padding: 0;
    }

    .profiles-gate-container .profile-name {
        font-size: 6.3vw;
    }

    .destacado {
        display: none;
    }

    .portadas {
        background: none;
    }
}

.available {
    position: absolute;
    bottom: 50%;
    z-index: 11111;
    text-align: center;
    width: 100%;
    background: red;
    box-shadow: 0 2px 30px #000;
}

.wrapper-books {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 16%));
    column-gap: 4%;
    row-gap: 16px;
    max-width: 1200px;
    margin: 0 auto;
}

.slider-item {
    width: 100%;
    height: auto;
    cursor: pointer;

    img {
        width: 100%;
    }
}

.book-title {
    height: 45px;
    line-height: 14px;
}