.cover1 {
    background: url('../../../assets/covers/1.png') no-repeat;
    background-size: cover;
    background-position-y: center;
}

.cover2 {
    background: url('../../../assets/covers/2.jpg') no-repeat;
    background-size: cover;
    background-position-y: center;
}

.cover3 {
    background: url('../../../assets/covers/3.jpeg') no-repeat;
    background-size: cover;
    background-position-y: center;
}

.cover-sub {
    background-size: cover;
    background-position-y: 0px;
    background-image: linear-gradient(180deg, rgba(20, 20, 20, 1) 10%, transparent);
}

.highlighted {
    width: 350px;
    text-align: left;
    margin-left: 60px;
    margin-right: 60px;

    p {
        line-height: 18px;
        font-size: 18px;
    }

    a {
        opacity: 0.8;
        float: left;
    }

    .white {
        color: #fff;
    }

    .black {
        color: #000;
    }
}

.available {
    position: absolute;
    bottom: 0;
    z-index: 2;
    text-align: center;
    background: red;
    box-shadow: 0 2px 30px #000;
    margin: 0;
    padding: 5px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px 5px 0 0;
}

.wrapper-books {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 16%));
    column-gap: 4%;
    row-gap: 16px;
    max-width: 1200px;
    margin: 0 auto;
}

@media only screen and (max-width: 578px) {
    .wrapper-books {

        grid-template-columns: repeat(auto-fit, minmax(100%, 16%));
    }

}

.img-wrapper {
    position: relative;
}

.slider-item {
    width: 100%;
    height: auto;
    cursor: pointer;

    img {
        width: 100%;
    }
}

.book-title {
    height: 45px;
    line-height: 14px;
}

@media only screen and (min-width: 100px) and (max-width: 900px) {

    .highlighted,
    .covers {
        display: none;
    }
}