.star-container {
    width: 80%;
    margin: 0 auto;
}

.star-wrapper {
    display: inline-block;
    padding: 1px;
    box-sizing: content-box;
}

.star {
    width: 20%;
    height: 15%;
    fill: gold;
}

.empty-half {
    fill: none;
}

.empty-star {
    width: 20%;
    height: 15%;
}

.full {
    fill: gold;
    stroke: white;
    stroke-width: .5;
}