$enable-negative-margins: true;
@import '/node_modules/bootstrap/scss/bootstrap.scss';
@import './netflix-fonts.css';



/*
 * Main content
 */

a,
a:focus,
a:hover {
    color: #fff;
}

/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-color: #141414;
    font-family: 'Netflix Sans';

}

body {
    color: #fff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    min-height: 100%;
}

.site-wrapper-inner {
    vertical-align: top;
}

.cover-container {
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 768px) {
    .site-wrapper {
        display: block;
    }

    .site-header {
        height: 80px;
        background-image: linear-gradient(180deg, rgb(20, 20, 20) 20%, rgba(255, 0, 0, 0));
    }

    .site-header a {
        margin: 0;
    }

    .site-header #navbarCollapse .search {
        margin: 0;
    }
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }

    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }

    .site-wrapper-inner {
        vertical-align: middle;
    }

    .cover-container {
        width: 100%;
    }

    .site-header {
        height: 70px;
        background-image: linear-gradient(180deg, rgba(0, 0, 0, .7) 10%, transparent);
    }
}

.btn-danger {
    background: #e50914;
    border-radius: 0;
    border-width: 0;

    &:disabled {
        background: #e50914
    }
}